<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .overtext{
        overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 900;
    font-size: 15px;
    }
    .out{
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    </style>
</head>
<body>
    <div class="out">
            <div class="overtext"><span>新中国体育史上，有哪些比赛的瞬间令你沸腾？网上流传的一句话 这句话来源于2001年46届世乒赛男团半决赛，中国小将刘国正对阵韩国老将金泽洙那场世纪之战。刘国</span></div>

    </div>
   
</body>
</html>